<div class="window">

	<div>
		<%= image_tag('contagious_logo.svg', :id => 'logo') %>
	</div>

	<div class="window_column_left"></div>

		<div class="window_column_right">

			<div class="sign_in_box_grey">
					<h2>Please sign in</h2>
					<%= form_tag '/login' do %>
					<p><%= text_field_tag :email, nil, :autofocus => true, :placeholder => "Email"%></p>
					<p><%= password_field_tag :password, nil, :placeholder => "Password" %></p>
					<button class="button">Sign in</button>
					<% end %>	
			</div>

		</div>
	</div>
</div>

