<h1>Here is our game</h1>



<!--LEVEL SELECTION PAGE - needs to be hidden if currentLevel != nil -->

<!-- Person image -->
<img src="/assets/images/person.svg" id="person_image" alt="Person-Image">

<!-- Person health bar -->
<div id="person_health_score">
	person health bar
</div>

<!-- Virus icon -->
<div src="/assets/images/virus_icon.svg" id="virus_image" alt="Virus-Image">
	virus icon
</div>

<!-- Arrow icon -->
<div src="/assets/images/arrow-image.svg" id="click_me_arrow">
  image-arrow<!-- click me arrow, indicating what level button to press -->
</div>

<!-- 10 level links -->
<div class="level_link">
	<button id="level_link_01">level 1</button>
</div>
<div class="level_link" id="level_link_02">level 2</div>
<div class="level_link" id="level_link_03">level 3</div>
<div class="level_link" id="level_link_04">level 4</div>
<div class="level_link" id="level_link_05">level 5</div>
<div class="level_link" id="level_link_06">level 6</div>
<div class="level_link" id="level_link_07">level 7</div>
<div class="level_link" id="level_link_08">level 8</div>
<div class="level_link" id="level_link_09">level 9</div>
<div class="level_link" id="level_link_10">level 10</div>

<!-- LEVEL WELCOME LIGHT BOX - needs to be called on click on level button -->

<div class="lightbox" id="level_welcome">level launch lightbox</div>

<a class="test-popup-link" href="path-to-image.jpg">Open popup</a>


<!-- GAME BOARD - needs to be called on click of "start level" button in level launch light box -->

