

<!--LEVEL SELECTION PAGE - needs to be hidden if currentLevel != nil -->



<div class="level_selection_container">

	<div class="person_button_container">

		<!-- Person image -->
		<img src="/assets/contagious_body_white.svg" id="person_image" alt="Person-Image">

		<!-- 10 level links -->
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="one" data-level-number="1"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="two" data-level-number="2"></input>
	
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="three" data-level-number="3"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="four" data-level-number="4"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="five" data-level-number="5"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="six" data-level-number="6"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="seven" data-level-number="7"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="eight" data-level-number="8"></input>
	
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="nine" data-level-number="9"></input>
	
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="ten" data-level-number="10"></input>
		
	</div>

	<!-- Health bar -->

	<div class="health_bar">
		<div class="health_bar_background">
		</div>
		<canvas id="my_canvas" width="190" height="100"></canvas>
	
	</div>

	<!-- Virus icon -->
	<img src="/assets/ebola_germ_200x200.svg" id="virus_image" alt="Virus-Image">

	<!-- Arrow icon -->
	<div src="/assets/images/arrow-image.svg" id="click_me_arrow">
	  image-arrow
	</div>

</div>


<!-- LEVEL WELCOME POPUP - needs to be called on click on level button -->



<script type="template/handlebars" id="launchLevelTemplate" >
	<div id="launch_level" class="white-popup">
		<h2>Welcome to level {{currentLevel}}!</h2>
		<h3 class="popup">Instructions: </h3>
		<p class="popup">There are no specific instructions for thislevel</p>
		<button class="launch_level_popup" data-level-number={{currentLevel}}>Start level</button>
	</div>
</script>



<!-- GAME BOARD - needs to be called on click of "start level" button in level launch light box -->

<script type="text/html" id="gameTemplate" >
	<div class="game-page">
		<div class="game-board"></div>
		<button class="exit-game game-buttons">Exit</button>
		<button class="shuffle-board game-buttons">Shuffle</button>
		<div class="player-score game-score"></div>
	</div>
</script>

<script type="template/handlebars" id="cellTemplate" >
  <div class="board-cell" data-type="{{cellType}}">
    {{type}}
  </div>
</script>

