

<!--LEVEL SELECTION PAGE - needs to be hidden if currentLevel != nil -->



<div class="level_selection_container">

	<div class="person_button_container">

		<!-- Person image -->
		<img src="/assets/contagious_body_white.svg" id="person_image" alt="Person-Image">

		<!-- 10 level links -->
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="one" data-levelNumber="1"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="two" data-levelNumber="2"></input>
	
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="three" data-levelNumber="3"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="four" data-levelNumber="4"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="five" data-levelNumber="5"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="six" data-levelNumber="6"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="seven" data-levelNumber="7"></input>
		
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="eight" data-levelNumber="8"></input>
	
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="nine" data-levelNumber="9"></input>
	
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_link" id="ten" data-levelNumber="10"></input>
		
	</div>

	<!-- Health bar -->

	<div class="health_bar">
		<div class="health_bar_background">
		</div>
		<canvas id="my_canvas" width="190" height="100"></canvas>
	
	</div>

	<!-- Virus icon -->
	<img src="/assets/ebola_germ_200x200.svg" id="virus_image" alt="Virus-Image">

	<!-- Arrow icon -->
	<div src="/assets/images/arrow-image.svg" id="click_me_arrow">
	  image-arrow
	</div>

	

</div>


<!-- LEVEL WELCOME POPUP - needs to be called on click on level button -->




<div id="launch_level" class="white-popup mfp-hide">
	
  
  <h3 class="popup">Instructions: </h3>
  <p class="popup">There are no specific instructions for the first level</p>
  <button class="launch_level_popup">Start level</button>

</div>

<script type="template/handlebars" id="launchLevelTemplate" >
		<h2>Welcome to level {{currentLevel}}!</h2>
</script>



<!-- GAME BOARD - needs to be called on click of "start level" button in level launch light box -->
<div class="game-page">
	<div class="game-board"></div>

	<script type="template/handlebars" id="gameTemplate" >

	  <div class="board-cell" data-type="{{cellType}}">
	    {{type}}
	    
	  </div>

	</script>

	<div class="exit-game game-buttons">Exit</div>
	<div class="shuffle-board game-buttons">Shuffle</div>

	<div class="player-score game-buttons">Score: </div>


</div>
