

<!--LEVEL SELECTION PAGE - needs to be hidden if currentLevel != nil -->



<div class="level_selection_container">

	<!-- Person image -->
	<img src="/assets/contagious_man_silhouette_thumb.png" id="person_image" alt="Person-Image">

	<!-- Person health bar -->
	<img src="/assets/health_bar_person.jpg" id="health_bar_person" class="health_bar">
	</img>

	<!-- Virus icon -->
	<img src="/assets/green_germ_profile_image.png" id="virus_image" alt="Virus-Image">

	<!-- Arrow icon -->
	<div src="/assets/images/arrow-image.svg" id="click_me_arrow">
	  image-arrow
	</div>

	<!-- 10 level links -->
	<div class="level_link">
		<input type="image" src="/assets/contagious_crosshairs_40x40.svg" href="#launch_level" class="level_welcome" id="level_link_01">level 1</input>
	</div>
	<div class="level_link" id="level_link_02">level 2</div>
	<div class="level_link" id="level_link_03">level 3</div>
	<div class="level_link" id="level_link_04">level 4</div>
	<div class="level_link" id="level_link_05">level 5</div>
	<div class="level_link" id="level_link_06">level 6</div>
	<div class="level_link" id="level_link_07">level 7</div>
	<div class="level_link" id="level_link_08">level 8</div>
	<div class="level_link" id="level_link_09">level 9</div>
	<div class="level_link" id="level_link_10">level 10</div>

</div>

<!-- LEVEL WELCOME POPUP - needs to be called on click on level button -->

<div id="launch_level" class="white-popup mfp-hide">
  <h2 class="popup">Welcome to level 1</h2>
  <h3 class="popup">Instructions: </h3>
  <p class="popup">There are no specific instructions for the first level</p>
  <button class="launch_level_popup">Start level</button>
</div>


<!-- ABOUT POPUP - needs to be connected to click on nav bar element -->

<a href="#about_popup" class="about_popup_launch">About</a>
<div id="about_popup" class="white-popup mfp-hide">
	<h2 class="popup">About Contagious</h2>
	<h3 class="popup">Goal of the game</h3>
	<p class="popup">You are playing the role of a virus who is infecting a person trying to cause this person to die.</p>
	<h3 class="popup">How it works</h3>
	<p class="popup">The person has a health score that starts at 100%. You as the virus also have a health score which starts at 100%. You want do decrease the person's health score to 0% to cause it to die. Along the way, some happenings can cause your health score to decrease as well, e.g. if the person receives a medicine to fight against you. If your health score reaches 0% while the person's health score is still above 0%, you die and lose the game.</p>
	<h3 class="popup">Levels</h3>
	<p class="popup">The game has 10 levels. Through accomplishing a level you decrease the person's health score by 10% points. You accomplish a level by earning a minimum of 100 points within the restrictions of the specific level (which e.g. could be a time contraint of 2 minutes). You can only proceed to the next level after successfully completing the previous level.</p>
	<h3 class="popup">Handling the game boards</h3>
	<p class="popup">The game is played by swiping symbols on a board, in any direction (so long as it is not blocked), to create sets of 3 or more matching symbols. When matched, the action represented by the symbol will be applied. The matching symbols disappear from the board and shift the symbols above them.</p>
	<h3 class="popup">Symbols, actions, points</h3>
	<ul class="popup">
		<li class="popup"><img src="/assets/Blue_germ.svg" width="100" height="100"></li>
		<li class="popup"></li>
		<li class="popup"></li>
		<li class="popup"></li>
		<li class="popup"></li>
	</ul>
</div>


<!-- GAME BOARD - needs to be called on click of "start level" button in level launch light box -->

<div class="game-board"></div>

<script type="template/handlebars" id="gameTemplate" >

  <div class="board-cell" data-type="{{type}}">
    {{type}}
    <span class="coord"><i class="cell-x">0</i>, <i class="cell-y">0</i></span>
  </div>

</script>
