<h1>Here is our game</h1>



<!--LEVEL SELECTION PAGE - needs to be hidden if currentLevel != nil -->

<!-- Person image -->
<img src="/assets/images/person.jpg" id="person-image" alt="Person-Image">

<!-- Person health bar -->
<div id="person-health-score">
	
</div>


<script>
	<!-- 
</script>



<!-- LEVEL LAUNCH LIGHT BOX - needs to be called on click on level button -->



<!-- GAME BOARD - needs to be called on click of "start level" button in level launch light box -->

