
<div class="window">
	<div>
		<%= image_tag('contagious_logo.svg', :id => 'logo') %>
	</div>
	<div class="window_column_left"></div>
	<div class="window_column_right">
		<div class="registration_box_grey">
			<div class="registration_box_white">
				<h1>Welcome to Contagious! </h1><h3>Please enter your email address:</h3>
				<%= form_tag '#', :id => "email_check" %>
					<input name="email" placeholder="Enter email address" id="email">
					<%= submit_tag "submit", :class => "button"%>

			</div>
		</div>
		</div>
	</div>
</div>


