<h class="leaderboard_heading">LEADING VIRUSES</h>

<div>
    <%= image_tag('contagious_logo.svg', :id => 'leaderboard_logo') %>
  </div>
<ol>
  <% @players.each do |player| %>
    <li><%= player.nickname %> Score: <%= player.score %></li>
  <% end %>
</ol>