.game-board{
  width: 520px;
  min-height: 520px;
  border: 1px dotted red;
  margin-left:400px;
  background-color: white;
}

.board-cell{
  border: 1px solid green;
  width:50px;
  min-height: 50px;
  display:inline-block;
  float:left;
}

[data-type]{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding:0px;
}

[data-type="1"]{ 
  content: url(Pill.svg);
}

[data-type="2"]{
  content: url(Blue_germ.svg); 
}

[data-type="3"]{
   content: url(Purple_germ.svg);
}

[data-type="4"]{
   content: url(Pink_germ.svg);
}

[data-type="5"]{
   content: url(Orange_germ.svg);
}

.clicked{
  background-color: grey;
}
