#new-game{
  margin-left: 600px;
  display:inline-block;
  width:512px;
  height:512px;
}

#gamefield{
  background-color:#000000;
  width:512px;
  height:512px;
}

.game-board{
  width: 600px;
  min-height: 600px;
  margin-left:400px;
  background-color: rgba(0,0,0,0.6);
}

.board-cell{
  border: 5px solid rgba(0,0,0,0.2);
  width:50px;
  min-height: 50px;
  display:inline-block;
  float:left;
}

.board-cell .coord {
  display: inline-block;
  padding: 3px;
  margin-top: 15px;
  background: rgba(255,255,255,0.7);
  font-size: 10px;
}

[data-cellType]{
  width: 50px;
  height: 50px;/*
  border-radius: 100%;*/
  padding:0px;
}

[data-cellType="1"]{ 
  content: url(pill_60x60.svg);
}

[data-cellType="2"]{
  content: url(blue_germ_60x60.svg); 
}

[data-cellType="3"]{
   content: url(purple_germ_60x60.svg);
}

[data-cellType="4"]{
   content: url(pink_germ_60x60.svg);
}

[data-cellType="5"]{
   content: url(orange_germ_60x60.svg);
}

[data-cellType="6"]{
  content: url(yellow_germ_60x60.svg);
}

.clicked{
  background-color: rgba(0,0,0,0.4);
}

.health_bar_background {
  background-color: #40403F;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 2em;
  left: 4em;
  border:3px solid white;
}

#my_canvas {
  position: absolute;
  top: 2.1em;
  left: 1.3em;
  z-index: 100000;
}
/*
.about_popup_launch {
  color: white;
}*/
