<!DOCTYPE html>
<html>
<head>
  <title>Contagious</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<<<<<<< HEAD
<div class="div">Whatever</div>
=======
<div class="div"></div>

>>>>>>> affff81418c0a73a9047be02d78d641c247f0948

</body>
</html>
